{{> navbar}}

<div class='game-lobby' id='game-lobby' data-game-id='{{game._id}}'>
  <h2 class='game-lobby__header'>Choose your team and start the Game!</h2>

  <div class='gameId'>Game ID: {{game._id}}</div>

  <main class="game-lobby__main wrapper">
    <div id='game-lobby-lists-wrapper'>
         <div class='game-lobby__waiting__wrapper'>
      <h2>Waiting players: </h2>
      <ul class='game-lobby__waiting__list' id='waiting-list'>
        {{#each game.playerJoined as |player|}}

          <li class='game-lobby__waiting__item'>

            {{player}}

          </li>

        {{/each}}
      </ul>
    </div>
    <div class='game-lobby__teams'>
      <div>
           <button class='button' id='button-join-team1'>Join
          Team A</button>
        <ul class='team-list' id='team1-list'>
          {{#each team1Names}}
            <li class='team1__list__item' id='{{player}}'>
              {{this}}
            </li>
              {{else}}
        <li>No players joined</li> 
          {{/each}}
        </ul>
      </div>

      <div>
         <button class='button' id='button-join-team2'>Join
          Team B</button>
        <ul class='team-list' id='team2-list'>
          {{#each team2Names}}
            <li class='team1__list__item' id='{{player}}'>
              {{this}}
            </li>
                  {{else}}
        <li>No players joined</li> 
          {{/each}}
        </ul>

       
      </div>
    </div>

 
  </div>


    <div class='chat'>
    <div class='chat-window' id='chat-window'>
      <ul class='chat-window__list' id='chat-window__list'>
        {{#each messages as |m|}}
          <li class="message {{#if m.isYours}}message--yours{{/if}}">
            <p class="message__info">
              <span class="message__user">{{#if m.isYours}}you{{else}}{{m.username}}{{/if}}</span> 
              at <span class="message__timestamp">{{m.createdAt}}</span>
            </p>
            <p class="message__text">{{m.text}}</p>
          </li>
        {{/each}}
      </ul>
    </div>
    <textarea type='text' id='game-lobby-message-input'></textarea>
    <button class='button' id='button-game-lobby-send-message'>Send message</button>
  </div>
  
  </main>
  <div class="wrapper">
    <div class='action-buttons-container' id='action-buttons-container'>
  </div>

    <button
      class='button button-danger button-leave-room'
      id='button-leave-room'
    >Leave Room</button>
    
        {{#if isHost}}

          {{#if isTeamsFull}}

            <button class="button button-action button-start-game" id="button-start-game">Start Game</button>

          {{else}}

            <button disabled class="button button-action button-start-game disabled" id="button-start-game">Start Game</button>  

          {{/if}}

        {{/if}}

  </div>
</div>
{{> footer}}

<script src='/js/gameLobby/handleJoinTeam.js' type='module'></script>
<script src='/js/gameLobby/handleLeaveRoom.js' type='module'></script>
<script src='/js/gameLobby/handleGameLobbyChat.js' type='module'></script>
<script src='/js/gameLobby/handleGameLobbyUpdate.js' type='module'></script>
<script src='/js/gameLobby/handleGameStart.js' type='module'></script>
