<div class='user-profile'>
  <button
    class='user-profile__button'
    id='openOptionsBtn'
    aria-label='User Profile'
  >
    <img
      src='/assets/profile.svg'
      alt='User Profile'
      class='user-profile__icon'
    />
  </button>
  <h4>Hi, {{username}} !</h4>
</div>

<div id='optionsModal' class='modal'>
  <div class='modal-content'>
    
   
<h1>{{username}}'s Profile:</h1>

<p>Role: {{role}}</p>
<p>Wins: {{wins}}</p>

<h2>Game History:</h2>
<ul>
  {{#each gameHistory}}
    <li>
      <strong>Game:</strong> {{this.gameTitle}} <br />
      <strong>Date Played:</strong> {{this.datePlayed}} <br />
      <strong>Result:</strong> {{this.result}} <br />
    </li>
  {{else}}
    <li>No games played yet.</li>
  {{/each}}
</ul>

<button class='button' id='logoutButton'>Logout</button>
    <div class='close'>&times;</div>
</div>